$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/* This is the color section breh 
  TURQUOISE">#ff1abc9c
  EMERALD">#ff2ecc71
  PETER">#ff3498db
  ASPHALT">#ff34495e
  GREEN">#ff16a085
  SUNFLOWER">#fff1c40f
  BELIZE">#ff2980b9
  WISTERIA">#ff8e44ad
  ALIZARIN">#ffe74c3c
  AMETHYST">#ff9b59b6 */
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter: #3498db;
$asphalt: #34495e;
$green: #16a085;
$sunflower: #f1c40f;
$belize: #2980b9;
$wisteria: #8e44ad;
$alazarin: #e74c3c;
$amethyst: #9b59b6;

/* This is the font section breh */

$font: 'Montserrat', arial, sans-serif;

.browsehappy {
  margin: 0.2em 0;
  background: #9B59B6;
  color: white;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  background: #9B59B6;
  padding-bottom: 20px;
  font-family: $font;
  text-rendering: optimizeLegibility;
}

input {
  outline: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 180px;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 120px;
    color: white;
    text-align: center;
    min-width: 100%;

  }
}

.subtitle {
  color: white;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  white-space: nowrap;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0px;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    /*padding-left: 0;
    padding-right: 0;*/
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    color: white;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    /*border-bottom: 0;
    border-radius: 0px;*/
  }
}


/* User Forms */

.joinyo-table {
  max-width: 50%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-form-container {
  min-width: 100%;

}

.main-form-username {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $green;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-radius: 0px;

}

.main-form-password {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $sunflower;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-radius: 0px;

}

.main-form-login {
  min-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $alazarin;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white !important;
  border-radius: 0px;

}

.main-form-signup {
  min-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $peter;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white !important;
  border-radius: 0px;

}

.welcome-button-container {
  width: auto;
  padding: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  text-align: center;
  white-space: nowrap;
}

.welcome-button {
  padding: 25px 140px 25px 140px;
  background-color: $peter;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white !important;
  margin: auto;
  border-radius: 0px;
}

.main-form-login:hover { 
  color: white;
}

.main-form-login:active { 
  color: white !important;
  outline: none !important;
  outline: 0px !important;
}

.main-form-login:focus {
  color: white !important;
  outline: 0px !important;
}

.main-form-signup:hover { 
  color: white;
}

.main-form-signup:active { 
  color: white !important;
  outline: none !important;
  outline: 0px !important;
}

.main-form-signup:focus {
  color: white !important;
  outline: 0px !important;
}

.welcome-button:hover { 
  color: white;
}

.welcome-button:active { 
  color: white !important;
  outline: none !important;
  outline: 0px !important;
}

.welcome-button:focus {
  color: white !important;
  outline: 0px !important;
}


.main-table {
  max-width: 50%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-add-friend {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $green;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;

}

.main-yo-friend {
  min-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $alazarin;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-radius: 0px;

}

.friend-color-1 {
  background-color: $alazarin;
}
.friend-color-2 {
  background-color: $peter;
}
.friend-color-3 {
  background-color: $emerald;
}
.friend-color-4 {
  background-color: $belize;
}
.friend-color-logout {
  background-color: $green;
}

/* Form placeholder colors */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    white;
      opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    white;
      opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    white;
}

.custom-footer {
  color: white;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  
}

.no-bullets {
    list-style-type: none;
}

/* PART 1: The Lonesome Beast

  In a land long ago there lived a chicken named Henry. Henry spent his 
sad existence pecking furiously at the ground in hopes that even the
tiniest of morsels would fill his gullet. Yet, even as Henry picked at
the ground he knew how improbable, likely impossible, it would be to 
happen upon any sort of meal. Poor Henry happened to also be made fun
of by all the other chickens, possibly due to the fact that Henry was
know better by his nickname than his true name. Little Henry the
Headless they called him. His stout stature and  */