$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.browsehappy {
  margin: 0.2em 0;
  background: #9B59B6;
  color: white;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  background: #9B59B6;
  padding-bottom: 20px;
  font-family: 'Montserrat', arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-left: -20px;
    font-size: 142px;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 200px;
    color: white;
    text-align: center;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0px;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    color: white;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    border-radius: 0px;
  }
}


/* User Forms */
.main-form-username {
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lime;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;

}

.main-form-password {
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: blue;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;

}

.main-form-login {
  padding: 25px 125px 25px 125px;
  background-color: blue;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-radius: 0px;

}

.main-form-signup {
  padding: 25px 112.5px 25px 112.5px;
  background-color: lime;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-radius: 0px;

}

/* Form placeholder colors */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    white;
      opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    white;
      opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    white;
}