<div class="main-form-container">
    <form class="main-form-self">
      
	    <table class="joinyo-table">
			<tr>
			  <td>

			  	<input class="input-medium main-form-username" ng-model="userform.username" placeholder="USERNAME" style="text-transform: uppercase" />

			  </td>
			</tr>
			<tr>
			  <td>
			  	
			  	<input type="password" class="input-medium main-form-password" ng-model="userform.password" placeholder="PASSWORD" />

			  </td>
			</tr>
			<tr>
			  <td>
			  	
			  	<button class="btn main-form-login" ng-click="login()">LOGIN</button>

			  </td>
			</tr>
			<tr>
			  <td>

			  	<button class="btn main-form-signup" ng-click="signup()">SIGNUP</button>

			  </td>
			</tr>
		</table>
      
    </form>
</div>


