<table class="main-table">
    <tr>
      <td>
        <form id="addfriend">
        <input id="createfriend" class="btn main-add-friend" ng-click="" ng-model="friendusername" placeholder="+" autocomplete="off" style="text-transform: uppercase" />
        </form>
      </td>
    </tr>
    <tr class="animate-repeat" ng-repeat="friend in friends">
      <td>
        
        <button class="btn main-yo-friend friend-color-{{$index + 1}}" ng-click="doyo('{{friend.username}}')">{{friend.username}}</button>

      </td>
    </tr>
    <tr>
      <td>
        <form id="logout">
        <button class="btn main-yo-friend friend-color-{{$index + 1}}" ng-click="logout()">LOGOUT</button>
        </form>
      </td>
    </tr>
</table>

